@import "../style/iran-sans.scss";
@mixin flex-manager($direction-value, $justify-value, $align-value) {
    display: flex;
    flex-direction: $direction-value;
    justify-content: $justify-value;
    align-items: $align-value;
}
@mixin orange-line {
    width: 85px;
    height: 8px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #ffd843, #ffaf20);
}
@mixin buy-course-button {
    @include flex-manager(row, center, center);
    position: relative;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #ffd843, #ffaf20);
    border-radius: 30px;
    color: #000000;
    width: 15%;
    height: 50px;
    font-weight: 500;
    img {
        width: 20px;
        height: auto;
        margin-right: 5px;
    }  
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: iranSans;
// section 1:
    .intro {
        @include flex-manager(column, center, center);
        background-color: #036af5;
        background-image: url("../assets/images/linesII.svg");
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        padding: 50px 0;
        .title {
            @include flex-manager(row, center, center);
            position: relative;
            bottom: 20px;
            background-color: #ffffff;
            width: 30%;
            height: 60px;
            border-radius: 20px;
            box-shadow: 0 15px 5px -5px rgba(0, 0, 0, 0.15);
            img {
                width: 80px;
                margin-left: 5px;
            }
            h4 {
                span {
                    color: lightgray;
                }
            }
        }
        .main-content {
            @include flex-manager(column, center, center);
            position: relative;
            top: 15px;
            width: 50%;
            height: 350px;
            border-radius: 40px;
            background-color: #ffffff;
            text-align: center;
            img {
                width: 180px;
                height: auto;
            }
            h1 {
                color: #ffaf20;
                width: 80%;
            }
            p {
                position: relative;
                bottom: 15px;
                width: 80%;
            }
        }
        .buy-course-button {
            @include buy-course-button();
            bottom: 14px;
        }
        .buy-course-button:hover {
            color: #ffffff;
        } 
        .down-arrow {
            position: relative;
            top: 20px;
        }
    }
// section 2:
    .course-content {
        @include flex-manager(column, center, center);
        position: relative;
        top: 150px;
        .puzzle-image-responsive {
            display: none;
        }
        .lightblueFrame-puzzleImage {
            @include flex-manager(row, center, center);
            width: 100%;
            .lightblue-frame-content {
                position: relative;
                left: 0;
                background-color: #d6e7fd;
                border-top-right-radius: 40px;
                border-bottom-right-radius: 40px;
                padding: 10px 10%;
                .orange-line {
                    @include orange-line();
                    margin: 25px 0 40px 535px;
                }
                p {
                    width: 65%;
                }
            }
        }
        .puzzle-image {
            @include flex-manager(row, unset, unset);
            position: relative;
            right: 100px;
            background-color: #ffffff;
            border-radius: 62px;
            box-shadow: 0 21px 30px -11px rgba(3, 106, 245, 0.37);
            padding: 30px 35px;
            z-index: 1;
            img {
                width: 250px;
            }
        }    
        .description {
            width: 30%;
        }
    }
// section 3 (slick slider):
    .teachers {
        @include flex-manager(column, center, center);
        position: relative;
        top: 200px;
        .teachers-slider {
            @include flex-manager(row, center, center);
            div {
                @include flex-manager(column, center, center);
                width: 160px;
                height: 200px;
                border: 2.5px solid #036af5;
                border-radius: 21px;
                background-color: #d0e4ff;
                margin: 0 5px;
                img {
                    width: 130px;
                }
                p {
                    background-color: #ffffff;
                    border-radius: 15px;
                    margin: 0 2px;
                    padding: 14px 24px;
                    text-align: center;
                    font-size: 14px;
                }
            }
        }
        .buy-course-button {
            @include buy-course-button();
            top: 40px;
        } 
        .buy-course-button:hover {
            color: #ffffff;
        }
    }  
// section-4: 
    .course-audience {
        @include flex-manager(column, center, center);
        position: relative;
        top: 250px;
        .orange-line {
            @include orange-line();
            margin: 15px 0;
        }
        .options {
            @include flex-manager(row, center, center);
            div {
                @include flex-manager(column, center, center);
                p {
                    width: 50%;
                    span {
                        padding: 2px 10px;
                        border-radius: 100%;
                        background-image: linear-gradient(to bottom, #ffd843, #ffaf20);
                        color: #ffffff;
                    }
                }
            }
        }
    }
// section-5:
    .course-content-part-2 {
        @include flex-manager(column, center, center);
        margin-top: 300px;
        background-color: #d6e7fd;
        .orange-line {
            @include orange-line();
            margin: 15px 0;
        }
        table {
            padding-bottom: 55px;
            tr:nth-last-child(1) {
                td {
                    border-bottom: none;
                }
            }        
            tr {        
                td {
                    border-bottom: 1px solid #ffffff;
                    border-right: 1px solid #ffffff;
                    border-collapse: collapse;
                    padding: 14px;
                }
                td:nth-child(1) {
                    color: #0658c7;
                    border-right: none;
                }        
            } 
        }
          
    }
// section-6:
    .sessions-attributes {
        @include flex-manager(column, center, center);
        margin-top: 40px;
        .orange-line {
            @include orange-line();
            margin: 15px 0;
        }
        .attributes {
            display: flex;
            .attribute {
                width: 200px;
                height: 170px;
                border: solid 1px rgba(0, 0, 0, 0.1);
                border-radius: 30px;
                margin: 11px;
                background-image: linear-gradient(to bottom, #fafafc, #f2f2f7);
                img {
                    margin: 8px 8px 0 0;
                }
                p {
                    font-size: 14px;
                    padding: 8px;
                }
            }
        }
        .buy-course-button {
            @include buy-course-button();
            top: 30px;
        }
        .buy-course-button:hover {
            color: #ffffff;
        }
    }
}
// mobile responsive version:
@media only screen and (min-width: 374px) and (max-width: 767px) {
    body {
        .intro {
            background-size: cover;
            padding: 110px 0;
            .title {
                bottom: 70px;
                width: 85%;
                height: 80px;
                border-radius: 28px;
            }
            .main-content {
                top: 30px;
                width: 95%;
                height: 450px;
                h1 {
                    width: 90%;
                }
                p {
                    width: 90%;
                }
            }
            .buy-course-button {
                font-size: 20px;
                bottom: 5px;
                width: 62%;
                height: 55px;
                img {
                    position: relative;
                    right: 8px;
                }
            }
            .buy-course-button:active {
                color: #ffffff;
            }
            .down-arrow {
                top: 35px;
            }
        }
        .course-content {
            @include flex-manager(column, center, center);
            position: relative;
            top: 200px;
            .puzzle-image-responsive {
                @include flex-manager(row, center, center);
                position: relative;
                top: 100px;
                background-color: #ffffff;
                border-radius: 62px;
                box-shadow: 0 21px 30px -11px rgba(3, 106, 245, 0.37);
                padding: 30px 35px;
                z-index: 1;
                img {
                    width: 220px;
                }
            }
            .lightblueFrame-puzzleImage {
                .lightblue-frame-content {
                    position: relative;
                    bottom: 25px;
                    border-radius: 0%;
                    height: 500px;
                    .orange-line {
                        position: relative;
                        top: 120px;
                    }
                    .content {
                        position: relative;
                        top: 100px;
                    }
                    p {
                        width: 90%;
                    }
                }
            }
            .puzzle-image {
                display: none;
            }
            .description {
                width: 70%;
            }
        }
        .teachers {
            .buy-course-button {
                width: 30%;      
            }
            .buy-course-button:active {
                color: #ffffff;
            }
        }
        .course-audience {
            position: relative;
            top: 280px;
            .options {
                @include flex-manager(column, unset, unset);
                div {
                    p {
                        width: 70%;
                        span {
                            padding: 2px 10px;
                            border-radius: 100%;
                            background-image: linear-gradient(to bottom, #ffd843, #ffaf20);
                            color: #ffffff;
                        }
                    }
                }
            }    
        }
        .sessions-attributes {
            .attributes {
                display: flex;
                flex-direction: column;
            }
            .buy-course-button {
                font-size: 15px;
                bottom: 25px;
                width: 30%;
                height: 50px;   
                img {
                    width: 15px;
                }    
            }
            .buy-course-button:active {
                color: #ffffff;
            }
        }
    }
}
// tablet responsive version:
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        .intro {
            background-size: cover;
            height: 110px 0;
            .title {
                width: 65%;
                bottom: 75px;
            }
            .main-content {
                top: 30px;
                width: 95%;
                height: 450px;
                img {
                    position: relative;
                    bottom: 25px;
                }
                h1, p {
                    width: 90%;
                }
            }
            .buy-course-button {
                font-size: 20px;
                bottom: 5px;
                width: 40%;
                height: 55px;
                img {
                    position: relative;
                    right: 8px;
                }
            }
            .buy-course-button:active {
                color: #ffffff;
            }
            .down-arrow {
                top: 35px;
            }
        }
        .course-content {
            @include flex-manager(column, center, center);
            .puzzle-image-responsive {
                @include flex-manager(row, center, center);
                position: relative;
                top: 100px;
                background-color: #ffffff;
                border-radius: 62px;
                box-shadow: 0 21px 30px -11px rgba(3, 106, 245, 0.37);
                padding: 30px 35px;
                z-index: 1;
                img {
                    width: 220px;
                }
            }
            .lightblueFrame-puzzleImage {
                .lightblue-frame-content {
                    position: relative;
                    bottom: 25px;
                    border-radius: 0%;
                    height: 550px;
                    img {
                        position: relative;
                        top: 150px;
                    }
                    .content {
                        position: relative;
                        top: 130px;
                    }               
                    h2 {
                        font-size: 27px;
                    }
                    p {
                        width: 85%;
                        font-size: 20px;
                    }
                    ul {
                        font-size: 18px;
                    }
                }
            }
            .puzzle-image {
                display: none;
            }
            .description {
                width: 70%;
            }
        }
        .teachers {
            .buy-course-button {
                width: 25%;       
            }
            .buy-course-button:active {
                color: #ffffff;
            }           
        }
        .sessions-attributes {
            .attributes {
                display: flex;
                flex-direction: column;
            }
            .buy-course-button {
                width: 25%;       
            }
            .buy-course-button:active {
                color: #ffffff;
            }
        }
    }
}