@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 200;
  src: url(../assets/font/iransans/eot/IRANSansWeb_UltraLight.eot) format("eot");
  src: url(../assets/font/iransans/ttf/IRANSansWeb_UltraLight.ttf) format("ttf");
  src: url(../assets/font/iransans/woff/IRANSansWeb_UltraLight.woff) format("woff");
  src: url(../assets/font/iransans/woff2/IRANSansWeb_UltraLight.woff2) format("woff2");
}
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 300;
  src: url(../assets/font/iransans/eot/IRANSansWeb_Light.eot) format("eot");
  src: url(../assets/font/iransans/ttf/IRANSansWeb_Light.ttf) format("ttf");
  src: url(../assets/font/iransans/woff/IRANSansWeb_Light.woff) format("woff");
  src: url(../assets/font/iransans/woff2/IRANSansWeb_Light.woff2) format("woff2");
}
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/font/iransans/eot/IRANSansWeb.eot) format("eot");
  src: url(../assets/font/iransans/ttf/IRANSansWeb.ttf) format("ttf");
  src: url(../assets/font/iransans/woff/IRANSansWeb.woff) format("woff");
  src: url(../assets/font/iransans/woff2/IRANSansWeb.woff2) format("woff2");
}
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 500;
  src: url(../assets/font/iransans/eot/IRANSansWeb_Medium.eot) format("eot");
  src: url(../assets/font/iransans/ttf/IRANSansWeb_Medium.ttf) format("ttf");
  src: url(../assets/font/iransans/woff/IRANSansWeb_Medium.woff) format("woff");
  src: url(../assets/font/iransans/woff2/IRANSansWeb_Medium.woff2) format("woff2");
}
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 600;
  src: url(../assets/font/iransans/eot/IRANSansWeb_Bold.eot) format("eot");
  src: url(../assets/font/iransans/ttf/IRANSansWeb_Bold.ttf) format("ttf");
  src: url(../assets/font/iransans/woff/IRANSansWeb_Bold.woff) format("woff");
  src: url(../assets/font/iransans/woff2/IRANSansWeb_Bold.woff2) format("woff2");
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  margin: 0;
  padding: 0;
  font-family: iranSans;
}
body .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #036af5;
  background-image: url("../assets/images/linesII.svg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 580px;
}
body .intro .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 20px;
  background-color: #ffffff;
  width: 30%;
  height: 60px;
  border-radius: 20px;
  box-shadow: 0 15px 5px -5px rgba(0, 0, 0, 0.15);
}
body .intro .title img {
  width: 80px;
  margin-left: 5px;
}
body .intro .title h4 span {
  color: lightgray;
}
body .intro .main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15px;
  width: 50%;
  height: 350px;
  border-radius: 40px;
  background-color: #ffffff;
  text-align: center;
}
body .intro .main-content img {
  width: 180px;
  height: auto;
}
body .intro .main-content h1 {
  color: #ffaf20;
  width: 80%;
}
body .intro .main-content p {
  position: relative;
  bottom: 15px;
  width: 80%;
}
body .intro .buy-course-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 14px;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #ffd843, #ffaf20);
  border-radius: 30px;
  color: #000000;
  width: 15%;
  height: 50px;
  font-weight: 500;
}
body .intro .buy-course-button img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}
body .intro .down-arrow {
  position: relative;
  top: 20px;
}
body .course-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 150px;
}
body .course-content .puzzle-image-responsive {
  display: none;
}
body .course-content .lightblueFrame-puzzleImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body .course-content .lightblueFrame-puzzleImage .lightblue-frame-content {
  position: relative;
  left: 0;
  background-color: #d6e7fd;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 10px 10%;
}
body .course-content .lightblueFrame-puzzleImage .lightblue-frame-content .orange-line {
  width: 80px;
  height: 50px;
}
body .course-content .lightblueFrame-puzzleImage .lightblue-frame-content p {
  width: 65%;
}
body .course-content .puzzle-image {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  position: relative;
  right: 100px;
  background-color: #ffffff;
  border-radius: 62px;
  box-shadow: 0 21px 30px -11px rgba(3, 106, 245, 0.37);
  padding: 30px 35px;
  z-index: 1;
}
body .course-content .puzzle-image img {
  width: 250px;
}
body .course-content .description {
  width: 30%;
}
body .teachers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .teachers .buy-course-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 200px;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #ffd843, #ffaf20);
  border-radius: 30px;
  color: #000000;
  width: 15%;
  height: 50px;
  font-weight: 500;
}
body .teachers .buy-course-button img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}
body .course-audience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 250px;
}
body .course-audience .orange-line {
  width: 80px;
  height: 50px;
}
body .course-audience .options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .course-audience .options div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .course-audience .options div p {
  width: 50%;
}
body .course-audience .options div p span {
  padding: 2px 10px;
  border-radius: 100%;
  background-image: linear-gradient(to bottom, #ffd843, #ffaf20);
  color: #ffffff;
}
body .course-content-part-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  background-color: #d6e7fd;
}
body .course-content-part-2 .orange-line {
  width: 80px;
  height: 50px;
}
body .course-content-part-2 table {
  padding-bottom: 55px;
}
body .course-content-part-2 table tr:nth-last-child(1) td {
  border-bottom: none;
}
body .course-content-part-2 table tr td {
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-collapse: collapse;
  padding: 14px;
}
body .course-content-part-2 table tr td:nth-child(1) {
  color: #0658c7;
  border-right: none;
}
body .sessions-attributes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
body .sessions-attributes .orange-line {
  width: 80px;
  height: 50px;
}
body .sessions-attributes .attributes {
  display: flex;
}
body .sessions-attributes .attributes .attribute {
  width: 200px;
  height: 170px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 11px;
  background-image: linear-gradient(to bottom, #fafafc, #f2f2f7);
}
body .sessions-attributes .attributes .attribute img {
  margin: 8px 8px 0 0;
}
body .sessions-attributes .attributes .attribute p {
  font-size: 14px;
  padding: 8px;
}
body .sessions-attributes .buy-course-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #ffd843, #ffaf20);
  border-radius: 30px;
  color: #000000;
  width: 15%;
  height: 50px;
  font-weight: 500;
}
body .sessions-attributes .buy-course-button img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

@media only screen and (min-width: 374px) and (max-width: 767px) {
  body .intro {
    background-size: cover;
    height: 800px;
  }
  body .intro .title {
    bottom: 70px;
    width: 85%;
    height: 80px;
    border-radius: 28px;
  }
  body .intro .main-content {
    top: 30px;
    width: 95%;
    height: 450px;
  }
  body .intro .main-content h1 {
    width: 90%;
  }
  body .intro .main-content p {
    width: 90%;
  }
  body .intro .buy-course-button {
    font-size: 20px;
    bottom: 5px;
    width: 62%;
    height: 55px;
  }
  body .intro .buy-course-button img {
    position: relative;
    right: 8px;
  }
  body .intro .down-arrow {
    top: 35px;
  }
  body .course-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
  }
  body .course-content .puzzle-image-responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    background-color: #ffffff;
    border-radius: 62px;
    box-shadow: 0 21px 30px -11px rgba(3, 106, 245, 0.37);
    padding: 30px 35px;
    z-index: 1;
  }
  body .course-content .puzzle-image-responsive img {
    width: 220px;
  }
  body .course-content .lightblueFrame-puzzleImage .lightblue-frame-content {
    position: relative;
    bottom: 25px;
    border-radius: 0%;
    height: 500px;
  }
  body .course-content .lightblueFrame-puzzleImage .lightblue-frame-content .orange-line {
    position: relative;
    top: 120px;
  }
  body .course-content .lightblueFrame-puzzleImage .lightblue-frame-content .content {
    position: relative;
    top: 100px;
  }
  body .course-content .lightblueFrame-puzzleImage .lightblue-frame-content p {
    width: 90%;
  }
  body .course-content .puzzle-image {
    display: none;
  }
  body .course-content .description {
    width: 70%;
  }
  body .teachers .buy-course-button {
    width: 30%;
  }
  body .course-audience {
    position: relative;
    top: 200px;
  }
  body .course-audience .orange-line {
    width: 80px;
    height: 50px;
  }
  body .course-audience .options {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }
  body .course-audience .options div p {
    width: 70%;
  }
  body .course-audience .options div p span {
    padding: 2px 10px;
    border-radius: 100%;
    background-image: linear-gradient(to bottom, #ffd843, #ffaf20);
    color: #ffffff;
  }
  body .sessions-attributes .attributes {
    display: flex;
    flex-direction: column;
  }
  body .sessions-attributes .buy-course-button {
    font-size: 15px;
    bottom: 25px;
    width: 30%;
    height: 50px;
  }
  body .sessions-attributes .buy-course-button img {
    width: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body .intro {
    background-size: cover;
    height: 850px;
  }
  body .intro .title {
    width: 65%;
    bottom: 75px;
  }
  body .intro .main-content {
    top: 30px;
    width: 95%;
    height: 450px;
  }
  body .intro .main-content img {
    position: relative;
    bottom: 25px;
  }
  body .intro .main-content h1, body .intro .main-content p {
    width: 90%;
  }
  body .intro .buy-course-button {
    font-size: 20px;
    bottom: 5px;
    width: 40%;
    height: 55px;
  }
  body .intro .buy-course-button img {
    position: relative;
    right: 8px;
  }
  body .intro .down-arrow {
    top: 35px;
  }
  body .course-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .course-content .puzzle-image-responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    background-color: #ffffff;
    border-radius: 62px;
    box-shadow: 0 21px 30px -11px rgba(3, 106, 245, 0.37);
    padding: 30px 35px;
    z-index: 1;
  }
  body .course-content .puzzle-image-responsive img {
    width: 220px;
  }
  body .course-content .lightblueFrame-puzzleImage .lightblue-frame-content {
    position: relative;
    bottom: 25px;
    border-radius: 0%;
    height: 550px;
  }
  body .course-content .lightblueFrame-puzzleImage .lightblue-frame-content img {
    position: relative;
    top: 150px;
  }
  body .course-content .lightblueFrame-puzzleImage .lightblue-frame-content .content {
    position: relative;
    top: 130px;
  }
  body .course-content .lightblueFrame-puzzleImage .lightblue-frame-content h2 {
    font-size: 27px;
  }
  body .course-content .lightblueFrame-puzzleImage .lightblue-frame-content p {
    width: 85%;
    font-size: 20px;
  }
  body .course-content .lightblueFrame-puzzleImage .lightblue-frame-content ul {
    font-size: 18px;
  }
  body .course-content .puzzle-image {
    display: none;
  }
  body .course-content .description {
    width: 70%;
  }
  body .teachers .buy-course-button {
    width: 25%;
  }
  body .sessions-attributes .attributes {
    display: flex;
    flex-direction: column;
  }
  body .sessions-attributes .buy-course-button {
    width: 25%;
  }
}/*# sourceMappingURL=style.css.map */