<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>کلاسینو | دوره آموزش انتخاب رشته کنکور</title>
</head>
<body>
    <section class="intro">
        <div class="title">
            <img src="../assets/images/classinoLogo.svg" alt="classino logo">
            <h4><span> | </span>آموزشگاه آنلاین ابتدایی تا کنکور</h4>
        </div>
        <div class="main-content">
            <img src="../assets/images/handshake.png" alt="handshake">
            <h1>دوره آنلاین مهارتی آموزش انتخاب رشته کنکور ۱۴۰۲ برای مشاوران</h1>
            <p>با تضمین اشتغال فارغ‌التحصیلان دوره در مجموعه کلاسینو، به همراه اعطای گواهی‌نامه حضور در دوره به تمام شرکت‌کنندگان</p>
        </div>
        <a href="#" class="buy-course-button">خرید دوره <img src="../assets/images/arrow_left.svg" alt="left arrow"></a>
        <div class="down-arrow">
            <a href="#"><img src="../assets/images/arrrow.svg" alt="down arrow"></a>
        </div>
    </section>
    <section class="course-content">
        <div class="lightblue-frame">
            <div class="lightblue-frame-content">
                <h2>در این دوره چه می آموزید؟</h2>
                <p>در این دوره آموزشی، شرکت‌کنندگان با انجام تمرینات مختلف در کارگاه‌های عملی، موارد زیر را آموزش خواهند دید:</p>
                <ul>
                    <li>رشته‌ها و دانشگاه‌ها</li>
                    <li>اصطلاحات دفترچه انتخاب‌رشته</li>
                    <li>ماتریس‌‌های پیشرفته</li>
                    <li>بهترین روش‌های چیدمان</li>
                </ul>
            </div>
        </div>
        <div class="puzzle-image">
            <img src="../assets/images/learn.png" alt="puzzle image">
        </div>
    </section>
</body>
</html>