<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/slick/slick-theme.css"/>
    <title>کلاسینو | دوره آموزش انتخاب رشته کنکور</title>
</head>
<body>
    <section class="intro">
        <div class="title">
            <img src="../assets/images/classinoLogo.svg" alt="classino logo">
            <h4><span> | </span>آموزشگاه آنلاین ابتدایی تا کنکور</h4>
        </div>
        <div class="main-content">
            <img src="../assets/images/handshake.png" alt="handshake">
            <h1>دوره آنلاین مهارتی آموزش انتخاب رشته کنکور ۱۴۰۲ برای مشاوران</h1>
            <p>با تضمین اشتغال فارغ‌التحصیلان دوره در مجموعه کلاسینو، به همراه اعطای گواهی‌نامه حضور در دوره به تمام شرکت‌کنندگان</p>
        </div>
        <a href="#" class="buy-course-button">خرید دوره <img src="../assets/images/arrow_left.svg" alt="left arrow"></a>
        <div class="down-arrow">
            <a href="#lightblue-frame"><img src="../assets/images/arrrow.svg" alt="down arrow"></a>
        </div>
    </section>
    <section class="course-content">
        <div class="puzzle-image-responsive" id="puzzle-image-responsive">
            <img src="../assets/images/learn.png" alt="puzzle image">
        </div>
        <div class="lightblueFrame-puzzleImage" id="lightblue-frame">            
            <div class="puzzle-image">
                <img src="../assets/images/learn.png" alt="puzzle image">
            </div>
            <div class="lightblue-frame-content">
            <img class="orange-line" src="../assets/images/line_yellow.svg" alt="orange-short-line">
                <h2 class="content">در این دوره چه می آموزید؟</h2>
                <p class="content">در این دوره آموزشی، شرکت‌کنندگان با انجام تمرینات مختلف در کارگاه‌های عملی، موارد زیر را آموزش خواهند دید:</p>
                <ul class="content">
                    <li>رشته‌ها و دانشگاه‌ها</li>
                    <li>اصطلاحات دفترچه انتخاب‌رشته</li>
                    <li>ماتریس‌‌های پیشرفته</li>
                    <li>بهترین روش‌های چیدمان</li>
                </ul>
            </div>
        </div>
            <div class="description">
                <h2>همچنین</h2>
                <p>پس از مصاحبه و امتحان اخر دوره ، بیش از ۵۰۰ نفر از فارغ‌التحصیلان این دوره فرصت استخدام و همکاری با مجموعه کلاسینو را پیدا خواهند کرد.</p>
            </div>  
    </section>
    <section class="teachers">
        <!-- <div class="teachers-images-slider">
            <div class="image-1">
                <img src="" alt="">
            </div>
            <div class="image-2">
                <img src="" alt="">
            </div>
            <div class="image-3">
                <img src="" alt="">
            </div>
            <div class="image-4">
                <img src="" alt="">
            </div>
        </div> -->
        <!-- <a href="#" class="buy-course-button">خرید دوره <img src="../assets/images/arrow_left.svg" alt="left arrow"></a> -->
    </section>
    <section class="course-audience">
        <h2>مخاطبان این دوره</h2>
        <img class="orange-line" src="../assets/images/line_yellow.svg" alt="orange-short-line">
        <div class="options">
            <div class="right-options">
                <p class="option-1"><span>۱</span>  مشاوران تحصیلی  </p>
                <p class="option-2"><span>۲</span>  علاقه‌مندان به ورود در حوزه آموزش و مشاوره تحصیلی</p>
                <p class="option-3"><span>۳</span>  فعالان حوزه آموزش و علاقه‌مندان به گسترش حوزه کاری</p>
            </div>
            <div class="left-options">
                <p class="option-4"><span>۴</span>  پشتیبان‌ها، دستیاران و پرسنل اجرایی آزمون‌های ادواری، آموزشگاه‌ها، مدارس و کلینیک‌های مشاوره</p>
                <p class="option-5"><span>۵</span>  دانشجویان علاقه‌مند به درآمدزایی در بازه زمانی دانشگاه</p>
                <p class="option-6"><span>۶</span>  دانشجویان یا فارغ التحصیلان رشته‌های روانشناسی، مدیریت آموزش، مشاوره تحصیلی، روانشناسی تربیتی، علوم تربیتی و ...</p>
            </div>
        </div>
    </section>
    <section class="course-content-part-2">
        <h2>محتوای دوره</h2>
        <img class="orange-line" src="../assets/images/line_yellow.svg" alt="orange-short-line">
        <table>
            <tr>
                <td>جلسه اول</td>
                <td>مفاهیم اولیه، جزئیات دفترچه انتخاب رشته (قسمت اول)</td>
            </tr>
            <tr>
                <td>جلسه دوم</td>
                <td>جزئیات دفترچه (قسمت دوم)، منطق انتخاب رشته و استخراج ترجیحات</td>
            </tr>
            <tr>
                <td>جلسه سوم</td>
                <td>آزمون‌های روانشناسی</td>
            </tr>
            <tr>
                <td>جلسه چهارم</td>
                <td>مفهوم ماتریس انتخاب رشته، نحوه دسته‌بندی و چیدمان</td>
            </tr>
            <tr>
                <td>جلسه پنجم</td>
                <td>تکنیک‌های روانشناسی و مدیریت اتمسفر جلسه و فن بیان</td>
            </tr>
            <tr>
                <td>جلسه ششم</td>
                <td>تمرین مفهومی هر سه رشته</td>
            </tr>
            <tr>
                <td>جلسه هفتم</td>
                <td>تمرین کارگاهی هر سه رشته</td>
            </tr>
            <tr>
                <td>جلسه هشتم</td>
                <td>کنکور هنر و زبان و دانشگاه آزاد</td>
            </tr>
        </table>
    </section>
    <section class="sessions-attributes">
        <h2>ویژگی جلسات</h2>
        <img class="orange-line" src="../assets/images/line_yellow.svg" alt="orange-short-line">
        <div class="attributes">
            <div class="attribute">
                <img src="../assets/images/calendar.svg" alt="calendar image">
                <p>برگزاری در روزهای زوج به صورت آنلاین</p>
            </div>
            <div class="attribute">
                <img src="../assets/images/doc.svg" alt="document image">
                <p>ارائه جزوه و فایل رکورد شده از کلاس</p>
            </div>
            <div class="attribute">
                <img src="../assets/images/support.svg" alt="headphone image">
                <p>عضویت در گروه پشتیبانی برای اشتراک‌گذاری اخبار روز انتخاب رشته</p>
            </div>
            <div class="attribute">
                <img src="../assets/images/chat.svg" alt="chats image">
                <p>پرسش و پاسخ در گروه پشتیبانی و پنل کاربری</p>
            </div>
        </div>
        <a href="#" class="buy-course-button">خرید دوره <img src="../assets/images/arrow_left.svg" alt="left arrow"></a>
    </section>











    <script type="text/javascript" src="../assets/slick/all.min.js"></script>
    <script type="text/javascript" src="../assets/slick/jquery.js"></script>
    <script type="text/javascript" src="../assets/slick/slick.min.js"></script>

    <script type="text/javascript">
        // $(document).ready(function(){
        //     $('.teachers-images-slider').slick({
        //         setting-name: setting-value
        //     });
        // });
            $('.teachers-images-slider').slick({
                dots: false,
                rtl: true,
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            dots: false,
                            arrows: true,
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            dots: false,
                            arrows: true,

                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            mobileFirst: true,
                            dots: false,
                            arrows: true,

                        }
                    },
                ]
            });
    </script>
</body>
</html>